<div class="welcome-box">
  <!--===== 广告轮播 =====-->
  <section class="intro-box">
    <div class="container-fluid">
      <div class="row">

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--===== 轮播按钮 =====-->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!--===== 轮播内容 =====-->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= link_to '#', target: "_blank" do %> <!-- 图片连结，点击另开视窗 -->
                <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgh6pklv8ej31040dkb29.jpg" alt="Intro1" style="width:1260px;">
   <!-- 图片位置 -->
                  <div class="carousel-caption">
                    <h3>超您所想</h3> <!-- 标题 -->
                    <p>所有真品，一网打尽，欢迎选购</p> <!-- 内文 -->
                  </div>
                <% end %>
              </div>
              <div class="item">
                <%= link_to '#', target: "_blank" do %>
                <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fgh6ppjdmvj31040dke5q.jpg" alt="Intro2" style="width:1260px;">
                  <div class="carousel-caption">
                    <h3>品味生活</h3>
                    <p>一杯佳饮，一个自我，一种生活</p>
                  </div>
                <% end %>
              </div>
              <div class="item">
                <%= link_to '#', target: "_blank" do %>
                <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgh6pttgmyj31040dk1kx.jpg" alt="Intro3" style="width:1260px;">
                  <div class="carousel-caption">
                    <h3>味醇质优</h3>
                    <p>先进工艺，百年传承，直抵您心</p>
                  </div>
                <% end %>
              </div>
            </div>
  <!--===== 换页按钮 =====-->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span> <!-- 左侧按钮图示 -->
              <span class="sr-only">Previous</span>

            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span> <!-- 右侧按钮图示 -->
              <span class="sr-only">Next</span>
            </a>
          </div>

      </div>
    </div>
  </section>



<!--===== 品牌故事 =====-->
  <section class="story-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>微醺—Story</h2> <!-- 区块标题 -->

        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgh7etfud4j3046046gmi.jpg" class="img-rounded" style="width:150px;">
          </div>
          <div class="col-md-7">
            <h3>Brandy—Eaude Vie</h3> <!-- 创办人姓名 -->
            <p>西元十四世纪中期，百年战争 〈西元一三三九∼一四五三年〉 之际正值黑死病肆虐，法国以蒸馏器蒸馏出崭新的酒，那就是白兰地，不过当时称之为「Eaude Vie〈生命之水的意思〉」。目前世界最好的白兰地产地是法国夏朗德省的干邑（Cognac）周围地区和热尔省的雅马邑（Armagnac）地区，这些地区传统生产白兰地，酒厂年代久远。 </p> <!-- 创办人介绍 -->
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7 col-md-offset-1">
            <h3>Whisky—Aqua Vitae</h3> <!-- 创办人姓名 -->
            <p>威士忌这名称当初是源自于盖尔语里的uisge beatha这个字（意指“生命之水”，拉丁文里称为aqua vitae）。威士忌酒是闻名世界的佳酿，它的主要产地是英国的苏格兰。英国人把威士忌视为自己国家的一宝，并以痛饮威士忌为人生一大乐事。</p> <!-- 创办人介绍 -->
          </div>
          <div class="col-md-3">
            <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgh7erxq0wj304604675d.jpg" class="img-rounded" style="width:150px;">
          </div>
        </div>
      </div>
    </div>
  </section>

<!--===== 服务优势 =====-->
  <section class="service-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>公司历程</h2> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box1">
              <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fghmg8c8kpj302s02saa5.jpg" style="width:150px;"> <!-- 图示 -->
              <h3>专业团队</h3> <!-- 标题 -->
              <p>2017年，工头Lee与搬砖工White从原工地离职，成立「微醺」，团队目前有约200名员工，均来自世界著名工地</p> <!-- 内文 -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box1">
              <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fghmdebsh8j302s02swel.jpg" style="width:150px;"> <!-- 图示 -->
              <h3>资本青睐</h3>
              <p>「微醺」目前已获得假格基金王小凸100万美元的投资，该基金曾参加「OTO」、「嗒嗒专车」等明星项目的融资。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box1">
              <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fghmditqcyj302s02smx2.jpg" style="width:150px;"> <!-- 图示 -->
              <h3>用户好评</h3>
              <p>截止2017年6月，活跃用户数达100万，卖出50万瓶酒，促成了近300场感情碰撞</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--===== 推荐商品 =====-->
    <section class="show-box">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>推荐商品</h2> <!-- 副标题 -->
          <div class="short-line"></div> <!-- 分隔线 -->
          <div class="row">
            <div class="col-md-3">
              <%= link_to '#' do %> <!-- 商品连结 -->
                <div class="box1">
                  <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fghk9n2ng4j30by0bygmb.jpg">

                </div> <!-- 商品图片 -->
                <div class="content">
                  <p>XO</p> <!-- 商品名称 -->
                  <p>$1688</p> <!-- 商品价格 -->
                </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to '#' do %>
                <div class="box1">
                  <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fghka49cacj30by0byaay.jpg">
                </div>
                <div class="content">
                  <p>Ballantione's</p>
                  <p>$149</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to '#' do %>
              <div class="box1">
                <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fghkftwsgvj30by0by0tx.jpg">
              </div>
                <div class="content">
                  <p>Vsop</p>
                  <p>$488</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to '#' do %>
              <div class="box1">
                <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fghkagfvhrj30by0byjs8.jpg">
              </div>
                <div class="content">
                  <p>CHIVAS</p>
                  <p>$159</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= link_to '#' do %>
            <div class="box1">
              <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fghkabi425j30by0byjs4.jpg">
            </div>
              <div class="content">
                <p>yamazaki</p>
                <p>$980</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= link_to '#' do %>
            <div class="box1">
              <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fghk9wqn9tj30by0bywf2.jpg">
            </div>
              <div class="content">
                <p>JackDaniel's</p>
                <p>$155</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= link_to '#' do %>
            <div class="box1">
              <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fghkiw9289j30jg0jgaar.jpg">
            </div>
              <div class="content">
                <p>CASA NOBLE TEQUILA</p>
                <p>$1199</p>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= link_to '#' do %>
            <div class="box1">
              <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fghkilpo9oj30m80m80x9.jpg">
            </div>
              <div class="content">
                <p>patron</p>
                <p>$499</p>
              </div>
            <% end %>
          </div>


        </div>
      </div>
    </div>
  </section>


  <!--===== 用户反馈 =====-->
 <section class="feedback-box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>用户反馈</h2> <!-- 副标题 -->
      <div class="short-line"></div> <!-- 分隔线 -->
      <div class="row">
        <div class="col-md-6">
          <div class="feedback1">
             <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fghm0smb57j30dx085dg8.jpg">
          </div><!-- 图片 -->
          <strong>David Beckham</strong>
          <p>翰格•蓝爵威士忌用来自三种谷物威士忌混合调配而成，口感清新，，带有奶油糖果和太妃糖的香气，强力推荐在这里购买。</p>
        </div>
        <div class="col-md-6">
          <div class="feedback1">
            <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fghm0wlm0gj30dx086wf2.jpg">
          </div> <!-- 图片 -->
          <strong>Ava Gardner</strong>
          <p>我想活到150岁。哪天我走时，希望左手一支烟，右手一杯威士忌，你也一起来吧。</p>
        </div>
      </div>
    </div>
  </div>
</section>


  <!--===== 合作品牌 =====-->
  <section class="brand-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>合作品牌</h2> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row text-center">
             <div class="col-md-3"><!-- 分隔线 -->
               <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgho0jv9dtj3046028t8q.jpg"  class="img-responsive">
             </div>
             <div class="col-md-3"><!-- 品牌图片 -->
               <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgho0lzgoaj304d0283yp.jpg" class="img-responsive">
             </div>
             <div class="col-md-3">
               <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgho0v9mwjj304602874b.jpg"  class="img-responsive">
             </div>
             <div class="col-md-3">
               <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fgho0n4pdmj3046028mx0.jpg"  class="img-responsive"> <!-- 品牌图片 -->
             </div>
           </div>

         <hr>
         <hr>
         <div class="row text-center">
           <div class="col-md-3">
             <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fgho0tmkhrj3054028q35.jpg"  class="img-responsive">
           </div>
           <div class="col-md-3">
             <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgho0mhrgsg3046028glg.gif"  class="img-responsive">
           </div>
           <div class="col-md-3">
               <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgho0wbvdwj305202874o.jpg"  class="img-responsive">
           </div>
           <div class="col-md-3">
               <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgho0uzs2aj3046028dfr.jpg"  class="img-responsive">
           </div>
      </div>
    </div>
  </section>

  <!--===== 立即购买 =====-->
  <section class="push-box">
    <%= link_to('立即购买', products_path, class:'btn btn-push' ) %>
  </section>
</div>


<script>
$('.carousel').carousel({
  interval: 2000
})
</script>
