
<br>
<br>
<div class="container">
  <div class="row">
    <div class="box">
      <div class="wrap-left">
        <div class="tb-booth tb-s310">
          <a href="#">
            <%= image_tag(@product.image.medium.url, class: "responsive wow swing", data: { wow_delay: "1s" }) %>
            <span class="zoomIcon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="product-favorite">
          <div class="product-favorite-item1">
            <i class="fa fa-weixin" aria-hidden="true">分享</i>
          </div>
          <div class="product-favorite-item2">
            <% if current_user && current_user.is_favorite_of?(@product) %>
              <%= link_to('取消收藏'.html_safe, favorite_product_path(@product, type: "unfavorite"), method: :put, class: "fa fa-heart") %>
            <% else %>
              <%= link_to('添加收藏'.html_safe, favorite_product_path(@product, type: "favorite"), method: :put, class: "fa fa-heart", style: "color:red;") %>
            <% end %>
          </div>
        </div>



              </div>
              <div class="wrap-right">
                <h1><%= @product.title %></h1>
                <div class="summary-price-wrap">
                  <div class="summary-sale">
                    <div class="dt">
                      <span>促 销 价</span>
                        <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$&nbsp;</span>
                        <span class="price"><%= @product.price-20 %></span>
                    </div>
                    <div class="dd">
                      <span>价 格</span>
                        <span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$&nbsp;</span>
                        <span class="price-o"><%= @product.price %></span>
                    </div>
                  </div>
                </div>
                <div class="tm-ind-panel">
                  <ul>
                    <li>
                      <span class="tm-label">月销量</span>
                      <span class="tm-count"><%= @product.sale_count %></span>
                    </li>
                    <li>
                      <span class="tm-label">累计评价</span>
                      <span class="tm-count">2500</span>
                    </li>
                  </ul>
                </div>
                <form novalidate="novalidate" id="new_order" action="#" accept-charset="UTF-8" method="post">
                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <div class="tb-key">
                  <div class="tb-skin">
                    <div class="tb-sku">
                      <dl class="tb-amount tm-clear">
                        <dt class="tb-metatit">数量</dt>
                        <dd id="J_Amount" onselectstart="return false">
                          <span class="tb-amount-widget mui-amount-wrap">

                            <input name="num" type="text" class="tb-text mui-amount-input" value="1" max="<%= @product.quantity %>" url="<%= add_to_cart_product_path(@product)  %>?num=">
                            <span class="mui-amount-btn">
                              <span class="mui-amount-increase">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                              </span>
                              <span class="mui-amount-decrease disabled">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </span>
                            <span>件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;库存 <i style="color:#c40000;"><%= @product.quantity %></i> 件</span>
                          </span>
                        </dd>
                      </dl>
                      <div class="tb-action">
                        <div class="tb-btn-buy">
                          <!-- <%#= link_to("立即购买", checkout_carts_path, :method => :post ) %> -->
                          <% if !current_user %>
                          <a href="#" data-toggle="modal" data-target="#login-modal">立即购买</a>
                        <% else %>
                          <%= link_to("立即购买", checkout_carts_path, :method => :post ) %>
                          <!-- <a href="javascript:document:new_order.submit();">立即购买</a> -->
                          <% end %>

                        </div>
                        <div class="shopCart tb-btn-basket">
                          <%= link_to(content_tag(:i, ' 加入购物车', class: 'fa fa-shopping-cart'), add_to_cart_product_path(@product), :method => :post ,:remote => true, class: "J_LinkBasket item_buy") %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
                <div class="tm-ser">
                  <dl>
                    <dt>服务承诺</dt>
                  </dl>
                  <dd>
                    <ul>
                      <li>
                        <a href="#">坏单包退</a>
                      </li>
                      <li>
                        <a href="#">满88包邮</a>
                      </li>
                      <li>
                        <a href="#">一站式购齐</a>
                      </li>
                      <li>
                        <a href="#">正品保证</a>
                      </li>
                      <li>
                        <a href="#">极速退款</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </div>
            </div>
          </div>
        <div>


      <div class="productDecription">
        <div class="productDecription-menuList">
          <div class="productDecription-menuList-item">
            商品详情
          </div>
          <div class="productDecription-menuList-item">
            累积评价
          </div>
        </div>
        <div class="productDecription-content">
          此商品
        </div>
      </div>
